# Python dependencies (FastAPI, SQLAlchemy, etc.). 
# Dependencies for this service only  

fastapi
uvicorn
sqlalchemy
pydantic
passlib[bcrypt]==1.7.4
pydantic[email]
python-jose[cryptography]
pytest
pydantic-settings
python-multipart
alembic
azure.communication.email
pyodbc
