# Python dependencies (FastAPI, SQLAlchemy, etc.). 
# Dependencies for this service only  

fastapi
uvicorn
sqlalchemy
pydantic
passlib==1.7.4
bcrypt==3.2.0
pydantic[email]
python-jose[cryptography]
pytest
# PyJWT
# jwt
pydantic-settings
python-multipart


